body {
    padding-top: 0;
  }
  .starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
  }

.card-border{
  transition:  all ease-out .2s;
  overflow: hidden;
  border: 2px solid black;
  border-radius: 30px;

}
.card-border:hover{

  transform: scale(1.05)

}